@import "tailwindcss";

@theme {
  --font-sans: "Overpass", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Old Standard TT", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: "Overpass Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --breakpoint-xs: 350px;
  --breakpoint-sm: 450px;
  --breakpoint-md: 734px;
  --breakpoint-lg: 1068px;
}

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: var(--font-sans);
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
  }
}

@layer components {
  @media (min-width: 1068px) {
    .more-list > :nth-last-child(-n + 2) {
      margin-bottom: 0;
    }

    .more-list > :nth-last-child(-n + 2)::after {
      display: none;
    }
  }

  .tk-expand {
    background-color: rgb(245, 245, 245) !important;
    border-radius: 15px;
  }
  .dark .tk-expand {
    background-color: rgb(23, 23, 23) !important;
  }
  .utterances {
    max-width: 960px;
  }

  .notion-collection-page-properties {
    display: none !important;
  }
}

img {
  transition: 0.5s;
}